.footer {
  height: 60px;
  background: #1b1a18;
  margin-top: 60px;
  @include devices(1000) {
    height: 150px;
   	margin-top: 100px;
  }
	.gotop {
    cursor: pointer;
    position: relative;
    z-index: 9;
    top: -35px;
    width: 70px;
    height: 35px;
    margin: 0 auto;
    font-size: 13px;
    color: #ffffff;
    @include devices(1000) {
	    top: -50px;
	    width: 100px;
	    height: 50px;
	    font-size: 20px;
	  }
    &:before {
    	position: absolute;
    	content: '';
    	width: 0;
	    height: 0;
	    border-bottom: 35px solid #1b1a18;
	    border-left: 35px solid transparent;
	    border-right: 35px solid transparent;
	    left: 0;
	    @include devices(1000) {
		    border-bottom: 50px solid #1b1a18;
		    border-left: 50px solid transparent;
		    border-right: 50px solid transparent;
		  }
    }
    span {
    	position: relative;
	    padding-top: 15px;
	    display: block;
	    @include devices(1000) {
		    padding-top: 20px;
		  }
    }
	}
}