$color_white: #ffffff;
$color_black: #000000;
$color_orange: #f47b33;
$color_red: #bf0e01;
$color-bg-header: #172224;
$color-text-link: #fddf9b;


$logo: url(../images/logo.png) no-repeat;



// index page
$bg: url(../images/bg.jpg) no-repeat;

