@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";

body {
    margin: 0;
    font-family: "vl_booster_nextfy_black";
    font-size: 13px;
    line-height: 1.5;
    font-weight: 300;
    color: $color_white;
    background: linear-gradient(to right, rgb(151, 150, 240), rgb(251, 199, 212));
    min-height: 100vh;
    // height: 2000px;
    overflow-x: hidden !important;
    // background: $bg;
    background-position: center top;
    @include max_devices(1023) {
        
    }
    @include max_devices(991) {
    }
    @include max_devices(768) {
    }
    @include max_devices(750) {
        
    }
    @include max_devices(680) {
        
    }
    @include max_devices(667) {
        
    }
    
}
.container {
  position: relative;
	width: 100%;
	margin: 0 auto;
  @include devices(1000) {
      width: 1000px;
  }
}
// TODO: Prompt IOS
.ios-prompt {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  .content-prompt {
    box-sizing: border-box;
    font-size: 15px;
    position: fixed;
    z-index: 9;
    bottom: 2%;
    background-color: #fcfcfc;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    color: #555;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    width: 100%;
    width: 95%;
    max-width: 550px;
    left: 50%;
    transform: translateX(-50%);
  }
  .icon-close-ios-prompt {
    position: absolute;
    right: 6px;
    top: 0;
    font-size: 28px;
  }
  .icon-add-prompt {
    width: 25%;
    max-width: 60px;
  }
  .txt-ios-prompt {
    line-height: 1.5;
    margin-left: 15px;
  }
  .icon-share-prompt {
    width: 4%;
    margin: 0 4px;
  }
}


// partials
// @import "partials/header"

// components


@import "components/wheel_spin";
@import "components/popup_qua";
@import "components/setting";

// contents


// @import "_typo.scss";

